@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {
  color: #555555;
}

::-moz-placeholder {
  color: #555555;
}

:-moz-placeholder {
  color: #555555;
}

:-ms-input-placeholder {
  color: #555555;
}

html {
  min-height: 100%;
  height: 100%;
  font-size: 100%;
}

body {
  color: rgba(#000000, 0.87);
  background-color: #f3f4f4;
  overflow-x: hidden;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4,
p {
  line-height: normal;
  margin: 0;
  padding: 0;
}

a {
  color: #333333;
  text-decoration: none;

  &:hover {
    color: #e23e3e;
    text-decoration: none;
  }
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 0;
  text-decoration: none;
}

table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
